{% extends 'mainapp/include/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Пользовательские данные</h1>
    <div class="contacts-appeal">
        <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form | crispy }}
            {{ extended_form | crispy }}
            <br>
            <div class="text-center">
                <div class="col-sm-4 btn-group">
                    <button class="btn btn-outline-secondary" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}