{% extends 'mainapp/include/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Войдите</h1>
    <div class="contacts-appeal">
        <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            {{ login_form | crispy }}

            <br>
            <div class="text-center">
                <div class="col-sm-4 btn-group">
                    <button class="btn btn-outline-secondary" type="submit">Войти</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}