{% extends 'mainapp/include/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Вы действительно хотите удалить заказ №{{ object.id }}?</h1>
    <div class="d-flex justify-content-left contacts-appeal">
        <a class="without-decoration-a" href="{% url 'order:index' %}">
            <button class="btn btn-outline-secondary mr-3" type="submit">
                Отменить
            </button>
        </a>
        <form method="POST" action="{% url 'order:delete' pk=object.pk %}">
            {% csrf_token %}
            <button class="btn btn-outline-danger" type="submit" value="DELETE">
                Удалить
            </button>
        </form>
    </div>
{% endblock %}
