{% extends 'mainapp/include/base.html' %}
{% load static %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Заказы</h1>
        <div>
            <a class="without-decoration-a" href="{% url 'orderapp:create' %}">
                <button class="group-buttons btn btn-outline-secondary" type="submit">
                    Создать новый заказ
                </button>
            </a>
        </div>
    </div>
    <div class="card">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="cart-text cart-text-head">ID</th>
                <th scope="col" class="cart-text cart-text-head">Создан</th>
                <th scope="col" class="cart-text cart-text-head">Обновлен</th>
                <th scope="col" class="cart-text cart-text-head">Статус</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                {% if item.is_active %}
                    <tr>
                        <td scope="row" class="cart-table-td">{{ item.pk }}</td>
                        <td class="cart-table-td">{{ item.created | date:"r" }}</td>
                        <td class="cart-table-td">{{ item.updated | date:"r" }}</td>
                        <td class="cart-table-td">{{ item.get_status_display }}</td>
                        <td class="cart-table-td">
                            <a class="order-action-a" href="{% url 'order:read' item.pk %}">
                                Посмотреть
                            </a>
                        </td>
                        <td class="cart-table-td">
                            {% if item.status == 'N' %}
                                <a class="order-action-a" href="{% url 'order:update' item.pk %}">
                                    Редактировать
                                </a>
                            {% endif %}
                        </td>
                        <td class="cart-table-td">
                            {% if item.status == 'N' %}
                                <a class="order-action-a" href="{% url 'order:delete' item.pk %}">
                                    Удалить
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}