{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
  <div class="container">
    <header><a href="{% url "product:index" %}">Mainpage</a></header>

    <div class="block">
      {% block content %}
      {% endblock %}
    </div>

    <footer>Andrey Kiselev &copy; 2020</footer>
  </div>

  {% block js %}
  <script src="{% static 'js/index.js' %}"></script>
  {% endblock %}
</body>

</html>