* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: black;
}

h1, h2, h3 {
    font-family: "Raleway";
    font-weight: 400;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    min-height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url(../img/background-header-footer.png);
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;

    border-radius: 5px;
}

.top {
    flex-grow: 1
}

.footer {
    min-height: 50px;
    display: flex;
    justify-content: flex-end;

    background-image: url(../img/background-header-footer.png);
    margin-top: 10px;
    border-top: 1px solid lightgray;

    margin-bottom: 5px;
    position: relative;

    border-radius: 5px;
}

.footer-rights {
    font-family: "Raleway";
    position: absolute;
    right: 12.5px;
    top: 12.5px;
}

.right-part-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
}

.avatar-login {
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.logo {
    margin-left: 8px;

    height: 70px;
    border-radius: 5px;
}

.login {
    font-size: 0.8rem;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
    margin: 0;
}

.menu-list li {
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-right: 1px solid darkgray;
}

.menu-list li:last-child {
    border: none;
}

.menu-list-a {
    font-size: 1.2em;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;

    text-decoration: none;
    color: darkgray;
}

.menu-list-a:hover {
    text-decoration: underline;
}

.without-decoration-a {
    text-decoration: none;
}

.without-decoration-a:hover {
    text-decoration: none;
}

.active-menu-list-a {
    color: black;
}

.cart-link {
    opacity: 0.5;
}

.cart-link:hover,
.cart-link-active {
    opacity: 1;
}

.cart-img {
    width: 1.2rem;
    height: 1.2rem;
    padding-bottom: 3px;
}

.cart-text {
    line-height: 2rem;
    font-size: 1rem;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    color: black;
}

.cart-text-head {
    font-weight: bold;
}

.cart-table-td {
    vertical-align: middle !important;
}

.cart-button,
.cart-input-quantity {
    min-width: 38px;
    height: 38px;
    line-height: 38px;
}

.group-buttons {
    width: 260px;
}

.social-button-override {
    display: block !important;
    width: 20px !important;
    height: 20px !important;
}

.social-button-description-override {
    font-size: 1rem !important;
}

.inactive-color {
    color: darkgray;
}

.clear {
    clear: both;
}
