* {
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    background: #f8f8f8;
    color: black;
}

h1, h2, h3 {
    font-family: "Raleway";
    font-weight: 400;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    min-height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url(../img/background-header-footer.png);
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;

    border-radius: 5px;
}

.top {
    flex-grow: 1
}

.footer {
    min-height: 50px;
    display: flex;
    justify-content: flex-end;

    background-image: url(../img/background-header-footer.png);
    margin-top: 10px;
    border-top: 1px solid lightgray;

    margin-bottom: 5px;
    position: relative;

    border-radius: 5px;
}

.footer-rights {
    font-family: "Raleway";
    position: absolute;
    right: 12.5px;
    top: 12.5px;
}

.logo {
    margin-left: 8px;

    height: 70px;
    border-radius: 5px;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
}

.menu-list li {
    height: 15px;
    line-height: 15px;
    padding: 10px;
    border-right: 1px solid lightgray;
}

.menu-list li:last-child {
    border: none;
}

.menu-list-a {
    font-size: 1.2em;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;

    text-decoration: none;
    color: darkgray;
}
.menu-list-a:hover {
    text-decoration: underline;
}
.active-menu-list-a {
    color: black;

.clear {
    clear: both;
}
