<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load main_extras %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title | capfirst }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
</head>
<body>
<div class="container">
    <dev class="top">
        <div class="header">
            <a href="/"><img class="logo" src="{% static 'mainapp/img/logo.png' %}" alt="Все товары"></a>
            <div class="right-part-header">
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-list-li"><a
                                class="menu-list-a {% if request.resolver_match.view_name == 'index' %}active-menu-list-a{% endif %}"
                                href="{% url 'index' %}">Главная</a></li>
                        <li class="menu-list-li"><a
                                class="menu-list-a {% if request.resolver_match.namespace == 'products' %}active-menu-list-a{% endif %}"
                                href="{% url 'products:index' %}">Каталог</a></li>
                        <li class="menu-list-li"><a
                                class="menu-list-a {% if request.resolver_match.view_name == 'contacts' %}active-menu-list-a{% endif %}"
                                href="{% url 'contacts' %}">Контакты</a></li>
                    </ul>
                </div>
                <div class="login">
                    <ul class="menu-list">
                        {% if user.is_authenticated %}
                            <li class="menu-list-li">
                                <a class="menu-list-a active-menu-list-a" href="{% url 'auth:edit' %}">
                                    {% if user.shopuserextended.userpic %}
                                        <img class="avatar-login" alt="avatar"
                                             src="/media/{{ user.shopuserextended.userpic }}">
                                    {% endif %}
                                    {{ user.username | capfirst }}
                                </a>
                            </li>
                            <li class="menu-list-li">
                                <div class="dropleft">
                                    <a class="menu-list-a dropdown-toggle active-menu-list-a cart-link {% if request.resolver_match.namespace == 'cart' or request.resolver_match.namespace == 'order' %}cart-link-active{% endif %}"
                                       data-toggle="dropdown"
                                       href="{% url 'cart:index' %}">
                                        <img src="{% static 'mainapp/img/shopping-bag.svg' %}"
                                             class="cart-img" alt="cart">
                                        {# {% with user.cart.count as user_cart_count %} #}
                                        {% with cart|products_quantity as user_cart_count %}
                                                ({{ user_cart_count }}/{{ user.order_set.count }})
                                        {% endwith %}
                                    </a>
                                    <ul class="dropdown-menu menu-list align-middle">
                                        <a class="dropdown-item" href="{% url 'cart:index' %}">Корзина</a>
                                        <a class="dropdown-item" href="{% url 'order:index' %}">Заказы</a>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-list-li">
                                <a class="menu-list-a" href="{% url 'auth:logout' %}">Выйти</a>
                            </li>
                        {% else %}
                            <li class="menu-list-li">
                                <a class="menu-list-a" href="{% url 'auth:login' %}">Войти</a>
                            </li>
                            <li class="menu-list-li">
                                <a class="menu-list-a" href="{% url 'auth:create' %}">Зарегистрироваться</a>
                            </li>
                            <li class="menu-list-li social-buttons">
                                <a class="btn btn-social-icon btn-xs btn-vk social-button-override"
                                   href="{% url 'social:begin' 'vk-oauth2' %}">
                                    <i class="fab fa-vk social-button-description-override"></i>
                                </a>
                                <a class="btn btn-social-icon btn-xs btn-google social-button-override"
                                   href="{% url 'social:begin' 'google-oauth2' %}">
                                    <i class="fab fa-google social-button-description-override"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </dev>
    <div class="footer">
        <div class="footer-rights">
            <p>&laquo;Все права защищены&raquo; &copy;&nbsp;2019</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{% block js %}
{% endblock %}

</body>
</html>