<div class="product-list">
    <div class="products-header">
        <h1>Каталог</h1>
        <ul class="menu-subcategories">
            {% for category in categories %}
                <li class="menu-subcategories-li">
                    <a href="{% url 'products:category' pk=category.pk %}"
                       class="menu-subcategories-a
                {% if request.resolver_match.view_name == 'products:category' and request.resolver_match.kwargs.pk == category.pk %} active-subcategory
                {% elif active_category_pk == category.pk %} active-subcategory
                {% endif %}">
                        {{ category.name | upper }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>


    <div class="products">
        {% for product in products %}
            <div class="product-container">
                <a class="product-view" style="text-decoration: none; color: black"
                   href="{% url 'products:detail' pk=product.pk %}">
                    <div class="product-view-a">
                        <div class="product-view-img">
                            <img class="product-view-img" src="{{ product.image_preview.url }}" alt="Dyson V7">
                        </div>
                        <div class="product-view-desc">
                            {{ product.name }}
                        </div>
                    </div>
                </a>
                {% if product in discount_products %}
                    <div class="product-hot-deal text-center">-50%</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>