{% extends 'mainapp/include/base.html' %}
{% load crispy_forms_tags %}
{% load admin_extras %}

{% block content %}
    <h1>Категории</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="cart-text cart-text-head">Имя категории</th>
            <th scope="col" class="cart-text cart-text-head">Описание</th>
            <th scope="col">
                <div class="text-right">
                    <a class="without-decoration-a" href="{% url 'adminapp:category_create' %}">
                        <button class="group-buttons btn btn-outline-success" type="submit">
                            Создать новую категорию
                        </button>
                    </a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td scope="row" class="cart-text cart-table-td {% if not object.is_active %}inactive-color{% endif %}">
                    {{ object.name|default:"&mdash;" }}
                </td>
                <td class="cart-text cart-table-td {% if not object.is_active %}inactive-color{% endif %}">
                    {{ object.description|default:"&mdash;" }}
                </td>
                <td class="cart-text cart-table-td group-buttons">
                    <div class="d-flex justify-content-between">
                        <a class="without-decoration-a" href="{% url 'adminapp:category_update' pk=object.pk %}">
                            <button class="btn btn-outline-secondary mr-3" type="submit">
                                Редактировать
                            </button>
                        </a>
                        <a class="without-decoration-a" href="{% url 'adminapp:category_delete' pk=object.pk %}">
                            <button class="btn btn-outline-danger" type="submit">
                                Удалить
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}