body {
    background: #f8f8f8;
    color: black;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.footer {
    padding: 10px;
    border-top: 1px solid lightgray;
}

.logo {
    height: 70px;
    border-radius: 10px;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
}

.menu-list li {
    height: 15px;
    line-height: 15px;
    padding: 10px;
    border-right: 1px solid lightgray;
}

.menu-list li:last-child {
    border: none;
}

.menu-list-a {
    font-size: 1.2em;
    font-weight: lighter;
    font-family: "Input", "Inconsolata", monospace;

    text-decoration: none;
}
.menu-list-a:hover {
    color: darkcyan;
}

.products-view {
    display: inline;
    text-align: center;
}
.products-view-img {
    outline: 2px solid #e0e0e0;
    width: 100px;
}
.products-view-img:hover {
    outline: none;
}

.product-image {
    outline: 2px solid #e0e0e0;
    float: left;
    width: 250px;
}

.product-image:hover {
    outline: none;
}

.product-header {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.product-short-descrition {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-align: left;
}

.product-specifications {
    color: darkslategray;
    font-size: 16px;
    font-family: monospace;
    list-style-image: url(catalog/images/list-icon.png);
}

.product-full-descrition {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product-table {
    border-collapse: collapse;
    border-width: 1px;
    border-style: dashed;
}

.product-table-data {
    border-width: 1px;
    border-style: solid;
    width: 20%;
}

.product-table-row:first-child {
    background-color: antiquewhite;
    height: 50px;
}

.contacts-form {
    width: 450px;
}

.contacts-input {
    color: black;
    text-align: left;
    
    height: 16px;
    width: 150px;
    margin: 1px;

    text-transform: capitalize;
}
input::placeholder {
    color: dimgrey;
    font-size: 1.1em;
}

.contacts-input-email:focus {
    background-color: lightgray;
    color: darkslategrey;
    font-weight: bold;
}

.form-button {
    height: 25px;
    width: 100px;
}

.clear {
    clear: both;
}