<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин &laquo;Все товары&raquo;</title>
    <link rel="stylesheet" href="/static/mainapp/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/"><img class="logo" src="/static/mainapp/img/logo.png" alt="Все товары"></a>
            <ul class="menu-list">
                <li><a class="menu-list-a" href="/">Главная</a></li>
                <li><a class="menu-list-a" href="/products/">Каталог</a></li>
                <li><a class="menu-list-a" href="/contacts/">Контакты</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Магазин &laquo;Все товары&raquo;</h1>
            <p>Добро пожаловать на&nbsp;страницу магазина.<br>
            Здесь вы&nbsp;можете найти товары по&nbsp;наиболее приемлемым ценам и&nbsp;гарантией производителя.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam maiores rerum earum. Natus repellendus ratione quaerat in facere itaque harum impedit quae. Minus, ut tempora aspernatur maiores? Obcaecati, sapiente, iure.</p>
        </div>

        <div class="footer">
            <div class="footer-rights">
                <p>&laquo;Все права защищены&raquo; &copy;&nbsp;2019</p>
            </div>
        </div>
    </div>
</body>
</html>