{% extends 'mainapp/include/base.html' %}

{% block title %}
{% with title="магазин &laquo;Все товары&raquo;" %}
{{ title | capfirst }}
{% endwith %}
{% endblock %}

{% block content %}
<h1>Магазин &laquo;Все товары&raquo;</h1>
<p>Добро пожаловать на&nbsp;страницу магазина.<br>
    Здесь вы&nbsp;можете найти товары по&nbsp;наиболее приемлемым ценам и&nbsp;гарантией производителя.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam maiores rerum earum. Natus repellendus
    ratione quaerat in facere itaque harum impedit quae. Minus, ut tempora aspernatur maiores? Obcaecati,
    sapiente, iure.</p>
{% endblock %}