{% extends 'mainapp/include/base.html' %}
{% load static %}
{% block title %}
Магазин &laquo;Все товары&raquo;
{% endblock %}

{% block content %}
<h1>Каталог</h1>
<div class="products">
    <a class="product-view" href="{% url 'products' %}/dyson-v7">
        <div class="product-view-a">
            <div class="product-view-img">
                <img class="product-view-img" src="{% static  'mainapp/img/products/dyson-v7.jpg' %}" alt="Dyson V7">
            </div>
            <div class="product-view-desc">
                Dyson&nbsp;V7
            </div>
        </div>
    </a>

    <a class="product-view" href="{% url 'products' %}/mi-vacuum-cleaner">
        <div class="product-view-a">
            <div class="product-view-img">
                <img class="product-view-img" src="{% static 'mainapp/img/products/vacuum-cleaner.jpg' %}"
                    alt="Mi Vacuum Cleaner">
            </div>
            <div class="product-view-desc">
                Mi&nbsp;Vacuum&nbsp;Cleaner
            </div>
        </div>
    </a>
</div>
{% endblock %}