{% extends 'mainapp/include/base.html' %}
{% load static %}
{% block title %}
Магазин &laquo;Все товары&raquo;
{% endblock %}

{% block content %}
<h1>Каталог</h1>

<ul class="menu-subcategories">
{% url 'products' as products %}
{% for link in categories %}
    <li class="menu-subcategories-li">
        <a class="menu-subcategories-a
                {% if request.get_full_path == products|add:link.href or request.get_full_path == products and link.href == "all" %}
                    active-subcategory
                {% endif %}"
            href="{% url 'products' %}{{ link.href }}">
            {{ link.name | upper }}
        </a>
    </li>
{% endfor %}
</ul>

<div class="products">
    <a class="product-view" href="{% url 'products' %}detail/dyson-v7">
        <div class="product-view-a">
            <div class="product-view-img">
                <img class="product-view-img" src="{% static  'mainapp/img/products/dyson-v7.jpg' %}" alt="Dyson V7">
            </div>
            <div class="product-view-desc">
                Dyson&nbsp;V7
            </div>
        </div>
    </a>

    <a class="product-view" href="{% url 'products' %}detail/mi-vacuum-cleaner">
        <div class="product-view-a">
            <div class="product-view-img">
                <img class="product-view-img" src="{% static 'mainapp/img/products/vacuum-cleaner.jpg' %}"
                    alt="Mi Vacuum Cleaner">
            </div>
            <div class="product-view-desc">
                Mi&nbsp;Vacuum&nbsp;Cleaner
            </div>
        </div>
    </a>
</div>
{% endblock %}