<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин &laquo;Все товары&raquo;</title>
    <link rel="stylesheet" href="/static/mainapp/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/"><img class="logo" src="/static/mainapp/img/logo.png" alt="Все товары"></a>
            <ul class="menu-list">
                <li><a class="menu-list-a" href="/">Главная</a></li>
                <li><a class="menu-list-a" href="/products/">Каталог</a></li>
                <li><a class="menu-list-a" href="/contacts/">Контакты</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Каталог</h1>
            <div class="products">
                <a class="product-view" href="dyson-v7">
                    <div class="product-view-a">
                        <div class="product-view-img">
                            <img class="product-view-img" src="/static/mainapp/img/products/dyson-v7.jpg" alt="Dyson V7">
                        </div>
                        <div class="product-view-desc">
                            Dyson&nbsp;V7
                        </div>
                    </div>
                </a>

                <a class="product-view" href="mi-vacuum-cleaner">
                    <div class="product-view-a">
                        <div class="product-view-img">
                            <img class="product-view-img" src="/static/mainapp/img/products/vacuum-cleaner.jpg" alt="Mi Vacuum Cleaner">
                        </div>
                        <div class="product-view-desc">
                            Mi&nbsp;Vacuum&nbsp;Cleaner
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="footer">
            <div class="footer-rights">
                <p>&laquo;Все права защищены&raquo; &copy;&nbsp;2019</p>
            </div>
        </div>
    </div>
</body>
</html>