{% extends 'mainapp/include/base.html' %}
{% load static %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Корзина</h1>
        <div>
            <a class="without-decoration-a" href="{% url 'order:create' %}">
                <button class="group-buttons btn btn-outline-secondary" type="submit">
                    Создать заказ из корзины
                </button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="cart-text cart-text-head">Товар</th>
            <th scope="col" class="cart-text cart-text-head">Количество</th>
            <th scope="col" class="cart-text cart-text-head">Cумма</th>
        </tr>
        </thead>
        <tbody>
            {% include 'cartapp/include/cart_tbody.html' %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'cartapp/js/cart.js' %}"></script>
{% endblock %}